html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  margin-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Add any other styles to the footer */
}